<form (ngSubmit)="search()">

    <div class="row">

        <div class="col-md-12">
            <div class="input-group mt-3 mb-1">
                <input type="text" class="form-control" name="txtQuery" placeholder="Nome do filme" [(ngModel)]="query"
                    (ngModelChange)="changeQuery()" />
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Pesquisar</button>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <hr />
            <span class="text-secondary" *ngIf="returnApi.results.length > 0">Mostrando: {{returnApi.results.length}} de
                {{returnApi.total_results | number}}</span>
            <span class="text-secondary" *ngIf="returnApi.results.length == 0">Nenhum resultado no momento.</span>
        </div>

        <div class="col-md-2 mt-3" *ngFor="let movie of returnApi.results; let i = index"
            title="{{movie.original_title}}" (click)="detailMovie(movie.id)">
            <div class="card shadow" style="cursor: pointer;">
                <img class="card-img-top" src="../../../assets/images/no_photo.png" *ngIf="movie.poster_path == null"
                    alt="image" style="height: 200px; object-fit: cover;" />
                <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                    *ngIf="movie.poster_path != null" alt="image" style="height: 200px; object-fit: cover;">
                <div class="card-body" style="padding: 0.7 !important;">
                    <p>
                        <span *ngIf="movie.original_title.length > 13">{{
                            movie.original_title.substring(0,13)}}...</span>
                        <span *ngIf="movie.original_title.length < 13">{{ movie.original_title}}</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-4 mb-5" *ngIf="page < returnApi.total_pages && !queryChanged">
            <button class="btn btn-secondary btn-block" type="button" (click)="showMoreResults()">Mostrar mais
                resultados</button>
        </div>
    </div>
</form>