<div class="row" style="margin-top: 80px;">
    <div class="col-md-3">
        <div class="card" style="cursor: pointer;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/qsNOb119zUplzxWYZdxN1x8GxdI.jpg"
                alt="Card image cap" style="height: 200px; object-fit: cover;">
            <div class="card-body" style="padding: 0.7 !important;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="cursor: pointer;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/qsNOb119zUplzxWYZdxN1x8GxdI.jpg"
                alt="Card image cap" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="cursor: pointer;">
        <div class="card">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/qsNOb119zUplzxWYZdxN1x8GxdI.jpg"
                alt="Card image cap" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="cursor: pointer;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/qsNOb119zUplzxWYZdxN1x8GxdI.jpg"
                alt="Card image cap" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>