<div class="row">
    <div class="col-md-12">
        <div class="input-group mt-3 mb-1">
            <input type="text" class="form-control" placeholder="Nome do filme">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="search()">Pesquisar</button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <hr/>
        <span class="text-secondary">Mostrando: 3 de 3265</span>
    </div>

    <div class="col-md-3 mt-3">
        <div class="card shadow" style="cursor: pointer;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/qsNOb119zUplzxWYZdxN1x8GxdI.jpg"
                alt="Card image cap" style="height: 200px; object-fit: cover;">
            <div class="card-body" style="padding: 0.7 !important;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="card shadow" style="cursor: pointer;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/qsNOb119zUplzxWYZdxN1x8GxdI.jpg"
                alt="Card image cap" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3  mt-3" style="cursor: pointer;">
        <div class="card shadow">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/qsNOb119zUplzxWYZdxN1x8GxdI.jpg"
                alt="Card image cap" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="card shadow" style="cursor: pointer;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/qsNOb119zUplzxWYZdxN1x8GxdI.jpg"
                alt="Card image cap" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-4 mb-5">
        <button class="btn btn-secondary btn-block" type="button">Mostrar mais resultados</button>
    </div>
</div>